body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
}

.my-projects li a {
    color: blue;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background: #ffffff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
    margin-left: 88px;
    margin-top: 60px;
    margin-bottom: 107px;
}

.about-me-section {
    width: 500px;
    margin-right: 342px;
}

.my-name {
    margin-top: 19px;
    margin-bottom: 18px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    color: #000000;
}

h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 10px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: auto;
}

.orange-text {
    color: #fb6d3a;
}

.about-me-profession {
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #000000;
    text-align: Left;
    font-style: normal;
    vertical-align: Top;
    margin-top: auto;
}

.about-me-description {
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: auto;
}

.my-projects {
    width: 600px;
    margin-right: 257px;
    margin-top: 40px;
}

ol {
    margin-top: 8px;
    padding: 0;
    list-style-position: inside;
}

ul {
    margin-top: 8px;
    padding: 0;
    list-style-position: inside;
}

li {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #595959;
}

.my-projects li::marker {
    font-weight: bold;
}

.my-projects a {
    text-decoration: none;
    color: #595959;
}

.my-work-experience1 {
    width: 550px;
    margin-top: 51px;
}

.my-work-experience2 {
    width: 525px;
    margin-top: 16px;
}

.my-work-experience3 {
    width: 525px;
    margin-top: 20px;
}

.work-time {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 15px;
    color: #A8A8A8;
}

.divider {
    color: #000000;
}

.my-education {
    width: 327px;
    margin-top: 43px;
}

.sidebar {
    width: 300px;
    background-color: #1e2939;
}

.sidebar-content {
    margin-left: 40px;
    margin-top: 51px;
    color: #ffffff;
}

.sidebar li {
    color: white;
}

.contacts {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

h3 .sidebar {
    color: #ffffff;
}

.photo {
    width: 300px;
    margin-top: 40px;
    /* margin-left: 50px; */
}

.tech-skills {
    margin-top: 47px;
}

.soft-skills {
    margin-top: 44px;
}

.sidebar-content a {
    color: #ffffff;
}

.sidebar li::marker {
    color: #fb6d3a;
}